{% extends "layouts/admin/base.html" %}


{% block body_start %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-tabs-enabled' : 'js-tabs-enabled');</script>
{% endblock %}

{% block page_title %}Case 2309-1129-5569-2669{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main role="main" class="govuk-main-wrapper">





    <h1 class="govuk-heading-xl">#2309-1129-5569-2669</h1>
    <br>


     <!-- Tabbed panel -->
    <div class="govuk-!-mb-r9">


      {% set paymentPanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">


                  <table class="govuk-table">
            <caption class="govuk-table__caption"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Payment reference</th>
                <th class="govuk-table__header" scope="col">Date created</th>
                <th class="govuk-table__header" scope="col">Method</th>
                <th class="govuk-table__header" scope="col">Amount</th>
                <th class="govuk-table__header" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Payment reference"><a href="/RC-2332-5352-6211-7352">RC-2332-5352-6211-7352<a/></td>
                <td data-label="Date created">28 Jun 2018—12:27:15</td>
                <td data-label="Method">Card</td>
                <td data-label="Amount">£215.00</td>
                <td data-label="Status">Failed</td>
              </tr>
              <tr>
                <td data-label="Payment reference"><a href="/RC-1313-5251-7432-6214">RC-1313-5251-7432-6214<a/></td>
                <td data-label="Date created">28 Jun 2018—12:28:45</td>
                <td data-label="Method">Card</td>
                <td data-label="Amount">£215.00</td>
                <td data-label="Status">Failed</td>
              </tr>
              <tr>
                <td data-label="Payment reference"><a href="/RC-1521-1095-0964-3143">RC-1521-1095-0964-3143<a/></td>
                <td data-label="Date created">28 Jun 2018—12:31:27</td>
                <td data-label="Method">Card</td>
                <td data-label="Amount">£215.00</td>
                <td data-label="Status">Success</td>
              </tr>

            </tbody>
          </table>



        </div>

      {% endset %}

      {% set extra1PanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">
          <p class="govuk-body">Another tab</p>
        <br>
        <br>
        <br>
        </div>
      {% endset %}

      {% set extra2PanelHtml %}
        <div class="govuk-prose-scope  govuk-!-pt-r6">
        <p class="govuk-body">Another tab</p>
        <br>
        <br>
        <br>
        </div>
      {% endset %}

      {{govukTabs({
        tabs: [{
          id: 'payment',
          label: 'Payment',
          panel: {
            html: paymentPanelHtml
          }
        }, {
          id: 'extra1',
          label: 'Tab #',
          panel: {
            html: extra1PanelHtml
          }
        }, {
          id: 'extra2',
          label: 'Tab #',
          panel: {
            html: extra2PanelHtml
          }
        }]
      })}}

    </div>


  </main>

</div>

{% endblock %}

{% block page_scripts %}
  <script>
    if(Tabs) {
      new Tabs($('.govuk-tabs').eq(0));
    } else {
      $('.govuk-tabs .js-hidden').removeClass('js-hidden');
      $('.js-tabs-enabled').removeClass('js-tabs-enabled');
    }
  </script>
{% endblock %}
